<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body style="font-size: 22px;background:#BDD5C8 ;background-size: cover;">
    <table id="content" cellpadding="10"
        style="width: 990px;max-width: 990px;min-height: 570px;background: #C4C2C2;margin: 100px auto;border-radius: 20px;overflow: hidden">
        <tr style="border-radius: 20px;">
            <td valign="middle" colspan="2" style="height: 70px;background: #C4C2C2">

                <form id="form">
                    <h1 style="color:black; text-align:center;">Add New story</h1> <br>
                    <ul style="width: auto;height: auto ;margin-left: 200px;">
                        <label for='title'>Title:</label><br>
                        <input type="text" name="title" id='title'
                            style="width: 70%; padding: 12px; border: 1px solid #ccc; border-radius: 4px;"><br>
                        <hr>
                        <label for='story'>Content:</label><br>
                        <textarea id="textarea" name='content' placeholder="Enter content here ....."
                            style="width: 510px;height: 150px;padding: 12px 20px;box-sizing: border-box;border: 2px solid #ccc;border-radius: 4px;background-color: #f8f8f8;font-size: 16px;resize: none;">
                        </textarea><br>

                        <button id="classifyButton">classify content</button>
                        <span id="moral"></span>

                        <hr>
                        <label for="picture">Upload story picture:</label><br>
                        <input type="file" name='picture' id="picture" id="picture" /><br>
                        <hr>

                        <br /><br /><br />

                        <input style="height:50px;width:150px; font-size: 20px;margin-left: 10%;" type="submit"
                            value="approve">
                           
                        <!-- <input onclick="myFunction()"
                            style="height:50px;width:150px; font-size: 20px;margin-left: 15%;" type="Reset"
                            value="cancel"> -->
                            


                    </ul>
                </form>
                <button Onclick="myFunction()" >cancel</button>
            </td>
        </tr>
    </table>

    <script src="https://unpkg.com/axios@1.1.2/dist/axios.min.js"></script>
    <script type="module">
        import { initializeApp } from 'https://www.gstatic.com/firebasejs/9.15.0/firebase-app.js'
        import { getStorage, ref, uploadBytes, getDownloadURL } from "https://www.gstatic.com/firebasejs/9.15.0/firebase-storage.js"
        const firebaseConfig = {
            apiKey: "AIzaSyDJ5ufCbJFmYd7ZLPxpDzJ-bHn6_5up_tE",
            authDomain: "read-me-a-story3.firebaseapp.com",
            databaseURL: "https://read-me-a-story3-default-rtdb.firebaseio.com",
            projectId: "read-me-a-story3",
            storageBucket: "read-me-a-story3.appspot.com",
            messagingSenderId: "345183958137",
            appId: "1:345183958137:web:3d25a61eaa5ccb6e2ad0a8",
            measurementId: "G-6F6BFMV1KW"
        };
        const app = initializeApp(firebaseConfig);
        const storage = getStorage(app, "gs://read-me-a-story3.appspot.com");


        console.log("script2");


        document.getElementById("form").addEventListener("submit", uploadFile);
        function uploadFile(event) {

            event.preventDefault()

            const picture = document.getElementById("picture");

            console.log("picture: ", picture.files[0]);

            const storageRef = ref(storage, `${new Date().getTime()}-${picture.files[0]?.name}`);
            uploadBytes(storageRef, picture.files[0]).then((snapshot) => {

                console.log('Uploaded a blob or file!', snapshot);

                getDownloadURL(storageRef).then((url) => {

                    console.log(url);

                    const title = document.getElementById("title").value
                    const content = document.getElementById("textarea").value
                    const picture = url;

                    const form = new FormData();
                    form.append('title', title);
                    form.append('content', content);
                    form.append('picture', picture);
                    form.append('moral', document.querySelector("#moral").innerHTML);

                    axios.post("/Save_data", form).then(response => {

                        console.log(response.data);
                        alert("story Added Successfully");
                    }).catch(e => {
                        console.log(e);
                        alert("Failed to add");
                    })
                })
            });
        }


    </script>
    <script>
        // document.getElementById("textarea").addEventListener("onblur", classify)

        document.querySelector("#classifyButton").addEventListener("click", (event) => {
            event.preventDefault();
            const form = new FormData();
            form.append('content', document.querySelector("#textarea").value);

            axios.post("/Add_pred", form).then(response => {
                console.log(response.data);
                document.querySelector("#moral").innerHTML = response.data
            }).catch(e => {
                console.log(e);
                alert("Failed to add, check developer logs");
            })
        }, false);

    </script>
    <script>
     
        
            function myFunction() {
        let confirmAction = confirm("Are you sure to execute this action?");
        if (confirmAction) {
            location.reload();
        } else {
          return false;
        }
      }
     
    
        </script>
</body>

</html>