<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<header>



    <div id="header" style="border-radius: 20px;">

        <nav class="topnav">

            <a href="{{ url_for('hello') }}">Add story</a></li>
            <a href="Employee Log-in.php">Edit story</a></li>
            <a href="{{ url_for('delete') }}">Delete story</a></li>
            <a href="{{ url_for('logout') }}">Logout</a></li>

    </div>

</header>
<style>
    .button2 {
        background: #C69A6F;
        line-height: 30px;
        padding: 20px 40px;
        font-size: 24px;
        color: white;
        text-decoration: none;
        border-radius: 10px;
        margin: 4px 2px;
        cursor: pointer;
        -webkit-transition-duration: 0.4s;
        /* Safari */
        transition-duration: 0.4s;
        gap: 50px;
    }

    #content {
        width: 990px;
        max-width: 990px;
        min-height: 570px;
        background: #dbcaba;
        margin: 100px auto;
        border-radius: 20px;
        overflow: hidden
    }



    .button2:hover {
        box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
    }

    nav {
        display: flex;
        justify-content: center;

        font-size: 1em;
        flex-wrap: wrap;
        width: 100%;

    }

    nav.topnav a {

        padding: 8px 25px;
        text-decoration: none;
        font-size: 17px;
        background: #C69A6F;
        border-radius: 20px;
        color: aliceblue;


    }

    nav.topnav a:hover {
        background-color: #C69A6F;
        color: black;
    }

    nav.topnav {
        overflow: hidden;
        background: #C69A6F;


    }

    #logo {
        width: 1000px;
        height: 1000px;
        border-radius: 20px;
    }


    .navs {
        list-style: none;
    }

    .navs li {
        display: inline-table;
    }

    .navs li a {
        text-align: center;
        padding: 10px 30px;
        text-decoration: none;
        font-size: 20px;
        background: #C69A6F;
        border-radius: 20px;
        color: aliceblue
    }

    #logo {
        width: 1000px;
        height: 1000px;
        border-radius: 20px;
    }
</style>

<script>
    function play() {
        var audio = document.getElementById("audio");
        audio.play();
    }
</script>

<body
    style="font-size: 22px; background-image: url('https://images.unsplash.com/photo-1588580000645-4562a6d2c839?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80')  ;background-size: cover;">
    <table id="content" cellpadding="10" style="border: 5px solid #C69A6F;">


        <tr>
            <td align="left">
                <img src="{{url_for('static', filename='logo.png')}}" style="float: center; width:200px; height: 9100x; border-radius: 20px;
              padding: 2px;
                "   />


                <form id="form" name="myForm" method="post" action="{{url_for('save_Data')}}">
                    <h1 style="color:#C69A6F; text-align:center;">Add New story</h1> <br>
                    <ul style="width: auto;height: auto ;margin-left: 200px;">
                        <label for='title'>Title:</label><br>
                        <input type="text" name="title" id='title' required
                            style="width: 70%; padding: 12px; border: 1px solid #ccc; border-radius: 4px;"
                            onblur="validateTitle()"><br>
                        <span style="color: red" id="title_error_message"></span>
                        <hr>
                        <label for='story'>Content:</label><br>
                        <textarea id="textarea" name='content' placeholder="Enter content here ....."
                            style="width: 510px;height: 150px;padding: 12px 20px;box-sizing: border-box;border: 2px solid #ccc;border-radius: 4px;background-color: #f8f8f8;font-size: 16px;resize: none;">
                        </textarea><br>

                        <button id="classifyButton">classify content</button><br> <br>
                        <audio id="audio" src="{{url_for('static', filename='audio.mp3')}}"></audio>

                        <span style="font-weight: bold; background-color: #C69A6F;" id="moral"></span>

                        <hr>
                        <label for="picture">Upload story picture:</label><br>
                        <input type="file" name='picture' id="picture" id="picture" required /><br>
                        <hr>
                        <!-- <input type="hidden" name='id' id="id" /> -->
                        <br /><br /><br />

                        <input style="float: right;" class="button button2" type="submit" value="add" name="action1"
                            id="add">

                        <input id="cancelButton" style="height:50px;width:150px; font-size: 20px;margin-left: 15%;"
                            type="submit" value="cancel" name="action">



                    </ul>
                </form>
                <!-- <button Onclick="myFunction()" style="float: left;"  id="cancel" class="button button2" > cancel</button> -->
            </td>
        </tr>
    </table>

    <script src="https://unpkg.com/axios@1.1.2/dist/axios.min.js"></script>
    <script type="module">
        import { initializeApp } from 'https://www.gstatic.com/firebasejs/9.15.0/firebase-app.js'
        import { getStorage, ref, uploadBytes, getDownloadURL } from "https://www.gstatic.com/firebasejs/9.15.0/firebase-storage.js"
        import {
            getFirestore, collection,
            addDoc, getDocs, doc,
            onSnapshot, query, serverTimestamp,
            orderBy, deleteDoc, updateDoc, where
        } from "https://www.gstatic.com/firebasejs/9.15.0/firebase-firestore.js";

        const firebaseConfig = {
            apiKey: "AIzaSyDJ5ufCbJFmYd7ZLPxpDzJ-bHn6_5up_tE",
            authDomain: "read-me-a-story3.firebaseapp.com",
            databaseURL: "https://read-me-a-story3-default-rtdb.firebaseio.com",
            projectId: "read-me-a-story3",
            storageBucket: "read-me-a-story3.appspot.com",
            messagingSenderId: "345183958137",
            appId: "1:345183958137:web:3d25a61eaa5ccb6e2ad0a8",
            measurementId: "G-6F6BFMV1KW"
        };
        const app = initializeApp(firebaseConfig);
        const storage = getStorage(app, "gs://read-me-a-story3.appspot.com");
        const db = getFirestore(app);



        console.log("script2");


        window.validateTitle = async () => {
            const title = document.getElementById("title").value
            if (!title) return;

            const titleSmall = title.toLowerCase();
            const citiesRef = collection(db, "books");
            const q = query(citiesRef, where("titleSmall", "==", titleSmall));

            document.getElementById("title_error_message").innerHTML = "checking..."

            const querySnapshot = await getDocs(q);

            console.log("checking duplicate: ", querySnapshot.size);

            if (querySnapshot.size !== 0) { // no duplicate found

                document.getElementById("title_error_message").innerHTML = "Duplicate title, Add button is disabled"
                document.getElementById("add").setAttribute("disabled", "true");

            } else {
                document.getElementById("title_error_message").innerHTML = ""
                document.getElementById("add").removeAttribute("disabled");
            }
        }

        document.querySelector("#cancelButton").addEventListener("click", async (event) => {
            event.preventDefault();
            console.log("cancel");

            let picture = document.getElementById("picture");

            const storageRef = ref(storage, `${new Date().getTime()}-${picture.files[0]?.name}`);
            let snapshot = await uploadBytes(storageRef, picture.files[0])

            let url = await getDownloadURL(storageRef)

            const form = new FormData();
            form.append('titleSmall', document.getElementById("title").value);
            form.append('title', document.getElementById("title").value.toLowerCase());
            form.append('content', document.getElementById("textarea").value);
            form.append('picture', url);
            form.append('moral', document.querySelector("#moral").innerHTML);

            axios.post("/Cancel_data", form).then(response => {
                console.log(response.data);
                alert("story Canceled Successfully");
                document.getElementById("form").reset()

            }).catch(e => {
                console.log(e);
                alert("Failed ");
            })

        }, false);



        document.getElementById("form").addEventListener("submit", uploadFile);
        async function uploadFile(event) {
            event.preventDefault()
            console.log("uploadFile");

            let picture = document.getElementById("picture");

            const storageRef = ref(storage, `${new Date().getTime()}-${picture.files[0]?.name}`);
            let snapshot = await uploadBytes(storageRef, picture.files[0])

            let url = await getDownloadURL(storageRef)

            const form = new FormData();
            form.append('titleSmall', document.getElementById("title").value);
            form.append('title', document.getElementById("title").value.toLowerCase());
            form.append('content', document.getElementById("textarea").value);
            form.append('picture', url);
            form.append('moral', document.querySelector("#moral").innerHTML);

            //validation
            // if (document.myForm.title.value == "") {
            //     alert("Please provide story title!");
            //     document.myForm.title.focus();
            //     return false;
            // }
            // if (document.myForm.content.value == "") {
            //     alert("Please provide story's content!");
            //     document.myForm.content.focus();
            //     return false;
            // }
            // if (document.myForm.picture.value == "") {
            //     alert("Please provide story's picture!");
            //     document.myForm.picture.focus();
            //     return false;
            // }


            axios.post("/Save_data", form).then(response => {

                console.log(response.data);
                alert("story Added Successfully");
                document.getElementById("form").reset()
            }).catch(e => {
                console.log(e);
                alert("Failed ");
            })


        }


        // document.getElementById("textarea").addEventListener("onblur", classify)

        document.querySelector("#classifyButton").addEventListener("click", (event) => {
            event.preventDefault();
            const form = new FormData();
            form.append('content', document.querySelector("#textarea").value);

            axios.post("/Add_pred", form).then(response => {
                audio.play();
                console.log(response.data);
                document.querySelector("#moral").innerHTML = response.data
            }).catch(e => {
                console.log(e);
                alert("Failed to add, check developer logs");
            })
        }, false);

    </script>

    <!-- cancel script -->
    <script>


        function myFunction() {
            let confirmAction = confirm("Are you sure to execute this action?");
            if (confirmAction) {
                location.reload();
            } else {
                return false;
            }
        }


    </script>
</body>

</html>