<html>
<head>
    <title> Login</title>
</head>
<body style="font-size: 22px;background:#BDD5C8 ;background-size: cover;">
    
    <table id="content" cellpadding="10" style="width: 990px;max-width: 990px;min-height: 570px;background: #C4C2C2;margin: 100px auto;border-radius: 20px;overflow: hidden">

        <tr style="border-radius: 20px;">
            <td valign="middle" colspan="2" style="height: 70px;background: #C4C2C2">
        
    <form action='/' method='POST' >
        <h1 style="color:black; text-align:center;">Admin Login</h1> <br>
            <ul style="width: auto;height: auto ;margin-left: 200px;">
        Email: <input type='text' name='email' style="width: 70%; padding: 12px; border: 1px solid #ccc; border-radius: 4px;"><br><hr>

        Password: <input type='password' name='password' style="width: 70%; padding: 12px; border: 1px solid #ccc; border-radius: 4px;"><br><hr>
        <input  style="height:50px;width:150px; font-size: 20px;margin-left: 10%;" type="submit" >
        
          
    </ul>
</form>
<!-- <button onclick='document.getElementById("form").submit()'><a href="{{ url_for('options') }}" > Login </a>  -->

</td>
</tr>
</table>

    
    
</body>
</html>