<html>
<body style="font-size: 22px;background:#BDD5C8 ;background-size: cover;">
        <table id="content" cellpadding="10" style="width: 990px;max-width: 990px;min-height: 570px;background: #C4C2C2;margin: 100px auto;border-radius: 20px;overflow: hidden">
<tr style="border-radius: 20px;">
	<td valign="middle" colspan="2" style="height: 70px;background: #C4C2C2">
    <form action="#">
      <h1 style="color:black; text-align:center;">options</h1> <br>
            <ul style="width: auto;height: auto ;margin-left: 200px;">
          
                    <a href="{{ url_for('hello') }}" > Add</a> 
                  
           


</ul>
            </form>
	</td>
</tr>
</table>
    
    </body>
    </html>

   